- if admin_user_signed_in?
  = form_for @service, :html => { class: 'form' } do |f|
    .form-group
      = f.label :title, t('Title')
      = f.text_field :title, class: 'form-control span12', placeholder: "#{t 'Title'}"
    .form-group
      = f.label :description, t('Description')
      = f.text_area :description, as: :html_editor, class: 'text_field span12', placeholder: "#{t 'Description'}"
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), articles_path, :class => 'btn'
- else 
  = t 'please'
  = link_to 'sign in', admin_root_path

