<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @publication.description %>
</p>
<% if admin_user_signed_in? %>
  <%= link_to 'Edit', edit_publication_path(@publication) %> |
  <%= link_to 'Back', publications_path %>
<% end %>
