%p{class: "notice"}= notice

%div{class: "page-header"}
  %h3= @publication.title

%div{class: "description"}= @publication.description.html_safe

- if admin_user_signed_in?
  = link_to 'Edit', edit_publication_path(@publication)
  = link_to 'Back', activities_path
