<div class="page-header">
  <h3>Поиск</h3>
</div>

<%= form_tag articles_path, method: :get do %>
  <fieldset>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Поиск", name: nil, :class => 'btn btn-primary'%>
  </fieldset>
<% end %>

<div id="articles">
  <% @articles.each do |article| %>
    <section class="list">
      <div class="page-header">
        <h4>
          <%= link_to article.title, article %>
        </h4>
      </div>
      <div class="content"><%= truncate_html article.description,
                               length: 300 %></div>
      <small>(<%= article.created_at %>)</small>
    </section>
  <% end %>
</div>
