<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="firstpage">
  <div class="row">
    <div class="span4">
      <%= image_tag('page1-img1.jpg', alt: "Alam consulting") %>
    </div>
    <div class="span4">
      <h3 class="slogan">We Hold <br/>the National<br/> Quality Standard.</h3>
    </div>
  </div>
  <p class="text">Porta variusm hendreit mauris Lorem ipsum dolor ametcon
    secteter adipcng elit. Praesent magnis. Montes nascetr mugiat
    suada odio. Morbi nunc odio, gravida atcursus necin luctus uque
    duis ultricies pharetra magna. Donec accum san malesuada orci.
    Donec sit amet eros.
  </p>
  <p class="text">Porta variusm hendreit mauris Lorem ipsum dolor ametcon
    secteter adipcng elit. Praesent magnis. Montes nascetr mugiat
    suada odio. Morbi nunc odio, gravida atcursus necin luctus uque
    duis ultricies pharetra magna. Donec accum san malesuada orci.
    Donec sit amet eros.
  </p>


  <div class="page-header">
    <h3>News & Events</h3>
  </div>
  
  <div class="row">
    <div class="span3">
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag('article1.jpg', alt: "Alam consulting", class: "media-object") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Porta variusm hendreit mauris Lorem ipsum dolor.
          <!-- Nested media object -->
          <div class="media">
            <a class="learn"><strong>
                <em>More</em>
                <i class="icon-chevron-right"></i>
            </strong></a>
          </div>
        </div>
      </div>
    </div>
    <div class="span3 offset1">
      <div class="media ">
        <a class="pull-left" href="#">
          <%= image_tag('article2.jpg', alt: "Alam consulting", class: "media-object") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Porta variusm hendreit mauris Lorem ipsum dolor.
          <!-- Nested media object -->
          <div class="media">
            <a class="learn"><strong>
                <em>More</em>
                <i class="icon-chevron-right"></i>
            </strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- <% @articles.each do |article| %> -->
  <!-- <div class="entry"> -->
  <!--   <h3><%= article.title %></h3> -->
  <!--   <p><%= sanitize(article.description) %></p> -->
  <!-- </div> -->
  <!-- <% end %> -->

</div>
