<div class="page-header">
  <h1>Мероприятия</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Описание</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_user_signed_in? %>
  <%= link_to 'Добавить мероприятие', new_activity_path %>
<% end %>

